.container{
    width: 50%;
    margin: auto;
}


.box .block-1{

    color: white;
    background-color: red;
    border: 2px solid white;
    padding-left:40px;
    padding-right:40px ;
   width: 15%;
   float: left;
   text-align: center;
 

}
.box .block-2{

    color: white;
    background-color: red;
    border: 2px solid white;
    padding-left:40px;
    padding-right:40px ;
   width: 15%;
   float: left;
   text-align: center;
 

}
.box .input{
    margin-left:2px;
    padding-left:10px;
    padding-right:10px ;
    width: 77.2%;
    float: left; 
    background-color: red; 

}
.box .input input{
    width: 75%;
    margin:10px;
    margin-left:30px;
    padding:5px;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}



.box{

    background-color: black;
    width: 60%;
    margin: auto;
    
    
}